.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
}

.no-content,
.loading-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--black);
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
}

.no-content {
    color: var(--grey-300);
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
